#{extends 'main.html' /}
#{set title:'Data' /}
<div>
    <div class="row">
        <br>
        <br>
        <div class="col-lg-2 col-md-2" >
            <h3>User ID</h3>
        </div>
        <div class="col-lg-2 col-md-2" >
            <h3>first Name</h3>
        </div>
        <div class="col-lg-2 col-md-2" >
            <h3>Last Name</h3>
        </div>
        <div class="col-lg-2 col-md-2" >
            <h3>Title</h3>
        </div>
        <div class="col-lg-2 col-md-2" >
            <h3>Company</h3>
        </div>
        <div class="col-lg-2 col-md-2" >
            <h3>Tag</h3>
        </div>

        <br>
        #{list getAll, as: 'data'}
        <div class="col-lg-2 col-md-2">
            <p>${data?.userId}</p>
        </div>
        <div class="col-lg-2 col-md-2" >
            <p>${data?.firstName}</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <p>${data?.lastName}</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <p>${data?.title}</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <p>${data?.companyName}</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <p>${data?.tags}</p>
        </div>

        #{/list}

        #{form @Application.addFilter(), method:'POST', enctype:'multipart/form-data'}
        <p><input type="text" name="tagName" style="width:300px;" required/> Add Tag</p>
        <input class="btn btn-hg btn-success btn-news-save" type="submit" value="add tag" id="submit">
        #{/form}

    </div>
</div>

</body>
</html>